name = "your worker name"
compatibility_date = "2024-06-22"
account_id = ""
workers_dev = true

main="./index.js"

[vars]
GITHUB_REPO_NAME=""
GITHUB_REPO_OWNER=""
THREAD_ID="" 
KV_COMMITS_KEY="data"

[[kv_namespaces]]
binding = "PERSIST"
id = ""

[placement]
mode = "smart"

[triggers]
crons = ["0 * * * *"]

